<div ng-controller="registerController as regCtrl">
    <div class="regBackground">
        <h1 class="regHeader">Sign Up</h1>
            <div class="register-form">
                <form name="registerForm" ng-submit="regCtrl.register(registerForm.$valid)" class="regTable" novalidate>
                    <table>
                        <tr id="row_1">
                        <!-- User Name -->
                        <td>
                            <label class="InputHeader">UserName</label>
                        </td>
                        <td>
                            <input type="text"
                                   ng-pattern="/^[a-zA-Z]*$/"
                                   ng-model="regCtrl.user.UserName"
                                   ng-required="true"
                                   class="form-control input"
                                   name="usernameInput"
                                   placeholder="Enter Username"
                                   ng-minlength="3"
                                   ng-maxlength="8">
                            <span ng-show="(registerForm.usernameInput.$pristine || registerForm.usernameInput.$touched) && registerForm.usernameInput.$error.required && registerForm.$submitted" class="help-block">Username is required</span>
                            <span ng-show="registerForm.usernameInput.$error.minlength" class="help-block"> Username must contain at least 3 characters</span>
                            <span ng-show="registerForm.usernameInput.$error.pattern">User name should contain letters only!</span>
                            <span ng-show="registerForm.usernameInput.$error.maxlength" class="help-block"> Username must contain at maximum of 8 characters</span>
                        </td>
                    </tr>
                    <tr id="row_2">
                        <!-- Password -->
                        <td>
                            <label class="InputHeader">Password</label>
                        </td>
                        <td>
                            <input type="Password"
                                ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/"
                                   ng-model="regCtrl.user.Password"
                                   ng-required="true"
                                   class="form-control input"
                                   name="passwordInput"
                                   placeholder="Enter Password"
                                   ng-minlength="5"
                                   ng-maxlength="10">
                            <span ng-show="(registerForm.passwordInput.$pristine || registerForm.passwordInput.$touched) && registerForm.passwordInput.$error.required && registerForm.$submitted" class="help-block">Password is required</span>
                            <span ng-show="registerForm.passwordInput.$error.minlength" class="help-block"> Password must contain at least 5 characters</span>
                            <span ng-show="registerForm.passwordInput.$error.maxlength" class="help-block"> Password must contain at maximum of 10 characters</span>
                            <span ng-show="registerForm.passwordInput.$error.pattern" class="help-block">Password should contain letters and numbers</span>

                        </td>
                        <!-- Answer1 -->
                        <td>
                            <label class="InputHeader2">Q1: Your mother name is?</label>
                        </td>
                        <td>
                            <input type="text"
                                   ng-model="regCtrl.user.Answer1"
                                   class="form-control input"
                                   name="q1Input"
                                   ng-required="true"
                                   placeholder="Enter Answer"
                                   ng-maxlength="200">
                            <span ng-show="(registerForm.q1Input.$pristine || registerForm.q1Input.$touched) && registerForm.q1Input.$error.required && registerForm.$submitted" class="help-block">Question is required</span>
                            <span ng-show="registerForm.q1Input.$error.maxlength" class="help-block">Question is too long</span>
                        </td>
                    </tr>
                    <tr id="row_3">
                        <!-- First Name -->
                        <td>
                            <label class="InputHeader">First Name</label>
                        </td>
                        <td>
                            <input type="text"
                                   ng-pattern="/^[a-zA-Z]*$/"
                                   ng-model="regCtrl.user.FirstName"
                                   class="form-control input"
                                   name="FirstNameInput"
                                   placeholder="Enter Your First Name"
                                   ng-required="true"
                                   ng-maxlength="200"/>
                            <span ng-show="(registerForm.FirstNameInput.$pristine || registerForm.FirstNameInput.$touched) && registerForm.FirstNameInput.$error.required && registerForm.$submitted" class="help-block">First name is required</span>
                            <span ng-show="registerForm.FirstNameInput.$error.maxlength" class="help-block">First name is too long</span>
                            <span ng-show="registerForm.FirstNameInput.$error.pattern">First name should contain letters only!</span>
                        </td>
                        <!-- Answer2 -->
                        <td>
                            <label class="InputHeader2">Q2: Your father name is?</label>
                        </td>
                        <td>
                            <input type="text"
                                   ng-model="regCtrl.user.Answer2"
                                   class="form-control input"
                                   name="ans1Input"
                                   ng-required="true"
                                   placeholder="Enter Answer"
                                   ng-maxlength="200">
                            <span ng-show="(registerForm.ans1Input.$pristine || registerForm.ans1Input.$touched) && registerForm.ans1Input.$error.required && registerForm.$submitted" class="help-block">Answer is required</span>
                            <span ng-show="registerForm.ans1Input.$error.maxlength" class="help-block">Answer description is too long</span>
                        </td>
                    </tr>
                    <tr id="row_4">
                        <!-- Last Name -->
                        <td>
                            <label class="InputHeader">Last Name</label>
                        </td>
                        <td>
                            <input type="text"
                                   ng-model="regCtrl.user.LastName"
                                   class="form-control input"
                                   name="lastNameInput"
                                   placeholder="Enter Your Last Name"
                                   ng-required="true"
                                   ng-maxlength="200">
                            <span ng-show="(registerForm.lastNameInput.$pristine|| registerForm.lastNameInput.$touched) && registerForm.lastNameInput.$error.required && registerForm.$submitted" class="help-block">Last name is required</span>
                            <span ng-show="registerForm.lastNameInput.$error.maxlength" class="help-block">Last name is too long</span>
                        </td>
                    </tr>
                    <tr id="row_5">
                    <tr id="row_6">
                        <!-- City -->
                        <td>
                            <label class="InputHeader">City</label>
                        </td>
                        <td>
                            <input type="text"
                                   ng-model="regCtrl.user.City"
                                   class="form-control input"
                                   name="CityInput"
                                   ng-required="true"
                                   placeholder="Enter City"
                                   ng-maxlength="200">
                            <span ng-show="(registerForm.CityInput.$pristine|| registerForm.CityInput.$touched) && registerForm.CityInput.$error.required && registerForm.$submitted" class="help-block">City is required</span>
                            <span ng-show="registerForm.CityInput.$error.maxlength" class="help-block">City description is too long</span>
                        </td>
                        <!--categories-->
                        <td>
                            <label class="InputHeader2">Favorite categories:</label>
                        </td>
                    </tr>
                    <tr id="row_7">
                        <!-- Country -->
                        <td>
                            <label class="InputHeader">Country</label>
                        </td>
                        <td>
                            <select type="text"
                                   ng-model="regCtrl.user.Country"
                                   class="form-control input"
                                   ng-options="country.Name as country.Name for country  in regCtrl.Countries"
                                   name="CountryInput"
                                   ng-required="true"
                                   placeholder="Choose a country from the list"
                            ></select>
                            <span ng-show="(!registerForm.CountryInput.$touched || registerForm.CountryInput.$error.required) && registerForm.$submitted" class="help-block">Country is required</span>
                        </td>

                        <!-- Category1 -->
                        <td>
                            <label class="InputHeader2">Category #1</label>
                        </td>
                        <td>
                            <select ng-model="regCtrl.catArray[0]" ng-options="category.CategoryName for category in regCtrl.categories | orderBy:'CategoryName'"
                                    class="form-control input"
                                    name="c1Input"
                                    placeholder="Choose a category you like"
                                    ng-required="true">{{CategoryName | json}}
                            </select>
                            <span ng-show="(registerForm.c1Input.$pristine|| registerForm.c1Input.$touched) && registerForm.c1Input.$error.required && registerForm.$submitted" class="help-block">Category required</span>
                        </td>
                    </tr>
                    <tr id="row_8">
                          <!-- Email -->
                          <td>
                                <label class="InputHeader">E-Mail</label>
                            </td>
                            <td>
                                <input type="Email"
                                       ng-model="regCtrl.user.Email"
                                       class="form-control input"
                                       name="MailInput"
                                       placeholder="Enter Email address"
                                       ng-required="true"
                                       ng-maxlength="200">
                                <span ng-show="(registerForm.MailInput.$pristine|| registerForm.MailInput.$touched) && registerForm.MailInput.$error.required && registerForm.$submitted" class="help-block">E-mail address is required</span>
                                <span ng-show="registerForm.MailInput.$error.email" class="help-block">Mail address is not valid</span>
                                <span ng-show="registerForm.MailInput.$error.maxlength" class="help-block">Mail address is too long</span>
                            </td>
                        <!-- Category2 -->
                        <td>
                            <label class="InputHeader2">Category #2</label>
                        </td>
                        <td>
                            <select ng-model="regCtrl.catArray[1]"
                                    ng-options="category.CategoryName for category in regCtrl.categories | orderBy:'CategoryName'"
                                    class="form-control input"
                                    name="c2Input"
                                    placeholder="Choose a category you like"
                                    ng-required="true">{{category.CategoryName | json}}
                            </select>
                            <span ng-show="(registerForm.c2Input.$pristine|| registerForm.c2Input.$touched) && registerForm.c2Input.$error.required && registerForm.$submitted" class="help-block">Category required</span>
                        </td>

                    </tr>
                    <tr id="row_9">
                            <td></td>
                            <td></td>
                               
                        <!-- Category3 -->
                        <td>
                            <label class="InputHeader2">Category #3</label>
                        </td>
                        <td>
                            <select ng-model="regCtrl.catArray[2]" ng-options="category.CategoryName for category in regCtrl.categories | orderBy:'CategoryName'"
                                    class="form-control input"
                                    name="c3Input"
                                    placeholder="Choose a category you like"
                                    ng-required="false">{{category.CategoryName | json}}
                            </select>
                            <span ng-show="(registerForm.c3Input.$pristine|| registerForm.c3Input.$touched) && registerForm.c3Input.$error.required && registerForm.$submitted" class="help-block">Category required</span>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr id="row_10">
                        <td></td>
                        <td></td>
                        <td></td>
                        <!-- Submit -->
                        <td >
                            <input type="submit"
                                   class="btn btn-success btn-lg submit"
                                   value="Submit">
                        </td>
                    </tr>
                </table>
            </form>
        </div>

    </div>
</div>
