
<div id="main" ng-controller="pointsController  as pointCtrl">
    <div class="category" >
        <div style="height: 5em">
            <img src="assets\images\littlest-point-shop-logo.gif" class="logo2" alt="logo">
        </div>
        <div ng-repeat="category in pointCtrl.categories">
           <button ng-click="pointCtrl.selectCategory(category.CategoryID)" class="category_button">{{category.CategoryName}}</button>
        </div>
        <button ng-click="pointCtrl.selectAll()" ng-hide="pointCtrl.showAll" class="category_button">All points</button>
    </div>
    <div class="POI">
        <div style="height: 6.8em">
            <select class = "selectSort" ng-model="pointCtrl.orderBy"
                    ng-options="c as c.name for c in pointCtrl.sortedOptions"></select>
            <label class="sortBy">Sort By:</label>
            <input class="selectSort" type="text" ng-model="pointCtrl.filterBy">
            <label class="sortBy">Search</label>
            <label class="header_content">• • {{pointCtrl.categoryHeader}} • •</label>
        </div>
        <div ng-repeat="p in pointCtrl.points | filter : pointCtrl.filterBy|
                            orderBy:pointCtrl.orderBy.label:pointCtrl.orderBy.reverse" class="product_description" >
                <img ng-src="{{p.Pic}}" class="img_product"/>
            <div class="description">
                <label class="header_description" ng-click="pointCtrl.open(p)"> {{p.PointName}}</label>
                </br>
                <img ng-src="assets\images\Fheart.png" class="img_heart" ng-hide="!p.inFav" ng-click="pointCtrl.favorites(p)"/>
                <img ng-src="assets\images\Eheart.png" class="img_heart" ng-hide="p.inFav" ng-click="pointCtrl.favorites(p)"/>
            </div >
        </div>
    </div>
    <div class="recommended"  >
        <!-- <div ng-hide="$root.guest">
            <h1 class="recHeader">Recommended <br> for &nbsp; you</h1>
            <span ng-repeat="p in $root.recommendedpoints" class="container" >
                <img ng-src="{{p.Pic}}" class="imgTop3 image" style="margin-left: 3.05em"/>
                <div class="middle" style="z-index: 1">
                     <div class="text">
                        <h1 class="headerText"> {{p.pointName}}</h1>
                                                {{p.Description}}
                        <br>
                        <h1 class="headerText"> {{p.price}}  </h1>
                         <button class="addTofavorites_button" ng-click="pointCtrl.addTofavorites(p)">add to favorites</button>
                     </div>
                </div>
             </span>
        </div>
        <div  ng-show="$root.guest">
            <label class="recommended_text"> Please login to see the Recommended points for you</label>
            <img class="rcmnd_gif" src="assets\images\lovely.gif" />
        </div> -->
    </div>
</div>
